{{>header}}
{{>navbar}}
<table class="table table-border">
<thead>
	<tr>
		<th>#</th>
		<th> article title </th>
		<th> article content</th>
		<th>action</th>
	</tr>
</thead>
<tbody>
	{{#each articles}}
	<Tr>
		<td>{{this._id}}</td>
	<td>{{this.title}}</td>
	<td>{{this.content}}</td>
	<td>
		<a href="/single/{{this.id}}"
		class="btn btn-primary mx-2">show</a>
		<a href="/edit/{{this.id}}" class="btn btn-warning">edit</a>
		<a href="/delete/{{this.id}}" class="btn btn-danger">delete</a>
	</td>
	</Tr>
	{{/each}}
</tbody>
</table>

{{>footer}}