{{>header}}
{{>navbar}}
{{#unless article}}
<div class="alert alert-danger"> article not found</div>
{{else}}
<div>{{article.title}}</div>
<div>{{article.content}}</div>
<form class="row g-3 mt-1 mb-3" method="post">
  <div class="mb-3">
	<input placeholder="comment title" name="name" class="form-control" value="{{data.name}}">
	</div>
  <div class=" form-outline mb-4 ">
	<textarea placeholder="message" name="details"  row=" 12" class="form-control" width="500px" value="{{data.details}}">
		</textarea>
	
</div>
  <div class="col-auto">
	<button type="submit" class="btn btn-primary mb-2 btn-block"> add comment</button>

  </div>
  {{#if errors}}
  <div class="mt-4">
    {{#if errors.name}}
    <span class="alert alert-danger w-25">{{errors.name}}</span>
    {{/if}}
    {{#if errors.details}}
    <span class="alert alert-danger w-25">{{errors.details}}</span>
    {{/if}}
  </div>
  {{/if}}
</form>
{{#unless article.comments}}
  <p class="bg-light p-2">No Comments Yet</p>
{{/unless}}
{{#each article.comments}}
<p class="bg-light p-2 m-0"><span>{{this.name}}: </span><span>{{this.details}}</span></p>
{{/each}}
</div>

{{/unless}}



{{>footer}}